@import "src/styles/variables";

.input-label {
  & > input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    border-bottom: 1px solid $base-color;
    outline: none;
  }
}
