.profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 510px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.profile-content {
  margin-bottom: 60px;
  & > .profile-value:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  & > a {
    padding: 10px 0;
  }
  & > a:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
}
