@import "./src/styles/variables";

.profile-value {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.profile-value-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}

.profile-value-text{
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: $secondary;
}
