---
id: "root"
title: "Messenger"
---
<html lang="en">
  <head>
    <script src="../index.ts" type="module"></script>
    <link rel="stylesheet" href="../style.scss" />

    <title>{{title}}</title>
  </head>
  <body>
    <div id="{{id}}">
      <ul>
        <li><a href="./auth/index.hbs">Auth</a></li>
        <li><a href="./register/index.hbs">Register</a></li>
        <li><a href="./profile/index.hbs">Profile</a></li>
        <li><a href="404/index.hbs">404</a></li>
        <li><a href="500/index.hbs">500</a></li>
      </ul>
    </div>
  </body>
</html>