---
id: "root"
title: "Messenger"
---
<html lang="en">
  <head>
    <script src="index.ts" type="module"></script>
    <link rel="stylesheet" href="style.scss" />

    <title>{{ title }}</title>
  </head>
  <body>
    <div id="{{ id }}">
    </div>
  </body>
</html>