@import "../../styles/variables";

.input-label {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: $secondary;

  & > input {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    width: 100%;
    box-sizing: border-box;
    border: none;
    display: block;
    border-bottom: 1px solid $base-color;
    outline: none;
    margin-top: 8px;
  }
}

.input-wrapper {
  margin-bottom: 16px;
}
